<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Klorofil - Free Bootstrap Dashboard Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	 <!--VENDOR CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='vendor/linearicons/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='vendor/chartist/css/chartist-custom.css')}}">
	 <!--MAIN CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	<!--Modal css-->
	 <!--GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	 <!--ICONS -->
	<link rel="shortcut icon" href="{{url_for('static', filename='img/hnet.com-image.ico')}}" type="image/x-icon">
	<link rel="icon" href="{{url_for('static', filename='img/hnet.com-image.ico')}}" type="image/x-icon">
	<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js"></script>
	

	
</head>

<body>
	 <!--WRAPPER-->
	<div id="wrapper">
		 <!--NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="{{url_for('index')}}"><img  src="{{url_for('static', filename='img/logo.png')}}" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				 <!--<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				 <form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form> -->
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<span>Balance: {{session['balance']}} CC</span>
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{url_for('static', filename='img/user.png')}}" class="img-circle" alt="Avatar"> <span>{{session['username']}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="{{url_for('requests')}}"><i class="lnr lnr-exit"></i> <span>Pending Requests</span></a></li>
								<li><a href="{{url_for('sell')}}"><i class="lnr lnr-exit"></i> <span>Generate CC</span></a></li>
								<li><a href="{{url_for('buy')}}"><i class="lnr lnr-exit"></i> <span>Buy</span></a></li>
								<li><a href="{{url_for('user_transaction_history')}}"><i class="lnr lnr-history"></i> <span>History</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="{{url_for('logout')}}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
								
							</ul>
						</li>
				</div>
			</div>
		</nav>
		 <!--END NAVBAR
		 LEFT SIDEBAR-->
		 <div id="sidebar-nav" class="sidebar" style="margin-top:5%">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><span></span></li>
						<li><a href="{{url_for('index')}}" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="about.html" class=""><i class="lnr lnr-text-format"></i> <span>About Us</span></a></li>						
						<li><a href="{{url_for('index')}}" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
						<!--<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
						<li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
						<li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
						<li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>-->
						<li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Profile</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="page-profile.html" class="">Edit Profile</a></li>
									<li><a href="#" class="">Delete Profile</a></li>
									<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		 <!--END LEFT SIDEBAR-->
		 <!--MAIN -->
		<div class="main">
			 <!--MAIN CONTENT -->
			<br>
			<br>
			<div class="main-content">
				<div class="container-fluid">
					{% block content%} {% endblock %}
				</div>
				<div class="container-fluid">
						 <div class="row"> 
							 <div class="col-md-6">
								 <!--RECENT PURCHASES -->
								 <div class="panel">
									<div class="panel-heading">
										<h2 class="panel-title">Recent Purchases</h2>
										<div class="right">
											<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
											
										</div>
									</div>
									<div class="panel-body no-padding">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Sr No.</th>
													<th>Amount</th>
													<th>Date &amp; Time</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="#">1</a></td>
													<td>-</td>
													<td>April 18, 2020</td>
													<td><span class="label label-success">COMPLETED</span></td>
												</tr>
												<tr>
													<td><a href="#">2</a></td>
													<td>-</td>
													<td>April 18, 2020</td>
													<td><span class="label label-warning">PENDING</span></td>
												</tr>
												<tr>
													<td><a href="#">3</a></td>
													<td>-</td>
													<td>April 18, 2020</td>
													<td><span class="label label-warning">PENDING</span></td>
												</tr>
												<tr>
													<td><a href="#">4</a></td>
													<td>-</td>
													<td>April 18, 2020</td>
													<td><span class="label label-danger">CANCELLED</span></td>
												</tr>
												<tr>
													<td><a href="#">5</a></td>
													<td>-</td>
													<td>April 18, 2020</td>
													<td><span class="label label-warning">PENDING</span></td>
												</tr>
											<tbody>
										</table>
									</div>
									<div class="panel-footer">
										<div class="row">
											<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 24 hours</span></div>
											<div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Purchases</a></div>
										</div>
									</div>
								</div> 
								 <!-- END RECENT PURCHASES -->
							 </div>
							 <div class="col-md-6">
								 <!--MULTI CHARTS -->
								 <div class="panel">
									<div class="panel-heading">
										<h2 class="panel-title">Buying vs Selling</h2>
										<div class="right">
											<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
											
										</div>
									</div>
									<div class="panel-body">
										<div id="visits-trends-chart" class="ct-chart"></div>
									</div>
								</div>
								 <!--END MULTI CHARTS -->
							 </div> 
						 </div>
						 <div class="row"></div>
							 <div class="col-md-5">
								 <!--TIMELINE
								 <div class="panel panel-scrolling">
									<div class="panel-heading">
										<h3 class="panel-title">Recent User Activity</h3>
										<div class="right">
											<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
											<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
										</div>
									</div>
									<div class="panel-body">
										<ul class="list-unstyled activity-list">
											<li>
												<img src="assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
												<p><a href="#">Michael</a> has achieved 80% of his completed tasks <span class="timestamp">20 minutes ago</span></p>
											</li>
											<li>
												<img src="assets/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
												<p><a href="#">Daniel</a> has been added as a team member to project <a href="#">System Update</a> <span class="timestamp">Yesterday</span></p>
											</li>
											<li>
												<img src="assets/img/user3.png" alt="Avatar" class="img-circle pull-left avatar">
												<p><a href="#">Martha</a> created a new heatmap view <a href="#">Landing Page</a> <span class="timestamp">2 days ago</span></p>
											</li>
											<li>
												<img src="assets/img/user4.png" alt="Avatar" class="img-circle pull-left avatar">
												<p><a href="#">Jane</a> has completed all of the tasks <span class="timestamp">2 days ago</span></p>
											</li>
											<li>
												<img src="assets/img/user5.png" alt="Avatar" class="img-circle pull-left avatar">
												<p><a href="#">Jason</a> started a discussion about <a href="#">Weekly Meeting</a> <span class="timestamp">3 days ago</span></p>
											</li>
										</ul>
										<button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
									</div>
								</div>
								 END TIMELINE -->
							 </div>
						 </div>
						 <div class="col-md-4"> 
								 <!--REALTIME CHART-->
								 <div class="panel">
									<div class="panel-heading">
										<h2 class="panel-title">Generation of CC</h2>
										<div class="right">
											<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										
										</div>
									</div>
									<div class="panel-body">
										<div id="system-load" class="easy-pie-chart" data-percent="70">
											<span class="percent">70</span>
										</div>
										<ul class="list-unstyled list-justify">
											<li>Current Month: <span>95%</span></li>
											<li>Prev Month: <span>-</span></li>
											<li>Current Quarter: <span>-</span></li>
											<li>Current Quarter: <span>-</span></li>
											<li>This year: <span>-</span></li>
										</ul>
									</div>
								</div> 
								<!--END REALTIME CHART -->
							 </div>
						 </div>
					</div>
				
			</div>
			 <!--END MAIN CONTENT -->
		</div>
		 <!--END MAIN -->
		<div class="clearfix"></div>
		<!--<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>-->
	</div>
	 <!--END WRAPPER -->
	 Javascript -->
	<script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/chartist/js/chartist.min.js')}}"></script>
	<script src="{{url_for('static', filename='scripts/klorofil-common.js')}}"></script>
	
	<script>
		$("#myModal").modal('show');


	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>
	
</body>

</html>
