{% extends "base.html"%}

{% block content %}
{% for i in range (0,len)  %}
<div class="row">
<div class="col-md-8">
    
    <div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{sellers[i]["Name"]}}</h3>
        <div class="right">
            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
        </div>

    </div>
    <div class="panel-body">
        <p> No.of carbon credits= {{sellers[i]["CarbonCredits"]}}
        <div class="bottom">
            <div class="right">
                <a href="send-request/{{sellers[i]}}" class="btn btn-primary" role="button">Buy</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endfor %}
{%endblock%}
