{% extends "base.html"%}
{% block content %}
{% for seller in sellers.keys()%}
{% for item in sellers[seller] %}
<div class="row">
<div class="col-md-8">
    
    <div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{seller}}</h3>
        <div class="right">
            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
        </div>

    </div>
    <div class="panel-body">
        <p> No.of carbon credits= {{item['amount']}}
        <div class="bottom">
            <div class="right">
                <form method="POST" action="send-request">
                    <input type="hidden" name="wallet-address" value="{{seller}}"/>
                    <input type="hidden" name="amount" value="{{item['amount']}}"/> 
                    <input type="hidden" name="name-of-project" value="{{item['name_of_project']}}"/>
                    <input type="hidden" name="reference-num" value="{{item['reference_num']}}"/>
                    <input type="hidden" name="time-period" value="{{item['time_period']}}"/>
                    <input type="hidden" name="receiver-wallet-address" value="{{buyer['wallet_address']}}"/>
                    <input type="hidden" name="uuid" value="{{item['uuid']}}"/>
                    <button type="submit" class="btn btn-primary">  Buy </button> 
                </form>
                </script>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endfor %}
{% endfor %}
{%endblock%}
